html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/cubes.png');

}

#wrapper {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 40px;
    padding-left: 4.5%;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: red;
}



header {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 6px solid red;
}

#main {
    overflow: hidden;
    padding-right: 4%;
}

nav ul{
    height: 40px;
    width: 100%;
        padding: 0;
}

nav ul li {
    float: left;
    margin-right: 2%;
    list-style-type: none;
}

nav ul li a:hover {
    color: black;
}

footer {
    color: white;
    padding: 5px;
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: black;
}

/*Create: */

#txtHeadline {
    width: 90%;
    height: 35px;
}

#txtContent {
    width: 90%;
    height: 200px;
}

.successMessage {
    background-color: graytext;
    padding: 5px;
    border: 1px solid green;
    font-weight: bold;
}

.errorMessage {
    padding: 5px;
    border: 1px solid red;
    font-weight: bold;
}